    body{
        text-align:center;
    }

    .myInput{
		height: 35px;
		margin: 50px 0px;
	}
	.table-striped{
		background-color:#c17171;
		color: black;
	}
	th{
		text-align: center;
		color: white;
	}