#{extends 'main.html' /}
#{set title:'Json_Integration_Task' /}

<div class="row">
    <input class="myInput" type="text" name="one" id="one" Placeholder="CSN"/>
    <input class="myInput" type="text" name="two" id="two" Placeholder="PSN"/>
    <button class="btn btn-primary" type="submit" value="submit" id="mySubmit" onclick="myJson()">Check</button>
</div>
<div class="row">
    <div class="container">
        <table id="myTable" class="table table-striped">
            <thead>
            <tr>
                <th>CSN</th>
                <th>PSN</th>
                <th colspan="2">ACTION</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row">
    <div class="container">
        <table id="myTable2" class="table table-striped">
            <thead>
            <tr>
                <th>TIME CHECK</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!--modal-->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CSN & PSN</h4>
            </div>
            <div class="modal-body">
                <p>CSN: <input class="myInput" type="text" name="one" id="mdOne" Placeholder="CSN"/></p>
                <p>PSN: <input class="myInput" type="text" name="two" id="mdTwo" Placeholder="PSN"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit" value="submit" id="Update">Update</button>
            </div>
        </div>
    </div>
</div>